
%table
  %tbody
    %tr
    %td
      %h4
        %a{:href => link_to("/graph", locals[:params])}
          Perma-link to this plot
%hr
%br

%table
  %tbody
    %tr
    %td
      %a{:href => link_to("/graph", locals[:params])}
        %img{:src => link_to("/graph", locals[:params])}
%br
%a{:href => link_to("/graph_edit", locals[:params].merge(:end => 'now', 'start' => 'end-1d')) }
  day &nbsp&nbsp&nbsp&nbsp
%a{:href => link_to("/graph_edit", locals[:params].merge(:end => 'now', 'start' => 'end-7d')) }
  week &nbsp&nbsp&nbsp&nbsp
%a{:href => link_to("/graph_edit", locals[:params].merge(:end => 'now', 'start' => 'end-30d')) }
  month &nbsp&nbsp&nbsp&nbsp
%a{:href => link_to("/graph_edit", locals[:params].merge(:end => 'now', 'start' => 'end-90d')) }
  quarter &nbsp&nbsp&nbsp&nbsp
%a{:href => link_to("/graph_edit", locals[:params].merge(:end => 'now', 'start' => 'end-365d')) }
  year &nbsp&nbsp&nbsp&nbsp
%br
%br
%hr
%br


%h4 Customize this plot:
%br

%form{:action => '/graph_edit', :method => 'get'}
  %table
    %tbody

    %tr
    %td
      %label{:for => "host"} host:
    %td
      %input{:type => "text", :name => "host", :class => "text", :value => locals[:params][:host]}
    %td
      %div#examples
        Examples:

    %tr
    %td
      %label{:for => "plugin"} plugin:
    %td
      %input{:type => "text", :name => "plugin", :class => "text", :value => locals[:params][:plugin]}
    %td
      %div#examples
        e.g.:
        %code memory
        %code load

    %tr
    %td
      %label{:for => "instance"} instance:
    %td
      %input{:type => "text", :name => "instance", :class => "text", :value => locals[:params][:instance]}
    %td
      %div#examples
        Examples:

    %tr
    %td
      %label{:for => "type"} type:
    %td
      %input{:type => "text", :name => "type", :class => "text", :value => locals[:params][:type]}
    %td
      %div#examples
        Examples:

    %tr
    %td
      %label{:for => "start"} start time:
    %td
      %input{:type => "text", :name => "start", :class => "text", :value => locals[:params][:start]}
    %td
      %div#examples
        e.g.:
        %code 1335739560
        %code end-24h
        %code end-15m
        %code 20120511 23:00

    %tr
    %td
      %label{:for => "end"} end time:
    %td
      %input{:type => "text", :name => "end", :class => "text", :value => locals[:params][:end]}
    %td
      %div#examples
        e.g.:
        %code now
        %code 1335739560
        %code 20120511 13:45

    %tr
    %td
      %label{:for => "x"} width:
    %td
      %input{:type => "text", :name => "x", :class => "text", :value => locals[:params][:x]}
    %td
      %div#examples
        x pixel resolution

    %tr
    %td
      %label{:for => "y"} height:
    %td
      %input{:type => "text", :name => "y", :class => "text", :value => locals[:params][:y]}
    %td
      %div#examples
        y pixel resolution

    %tr
    %td
      %label{:for => "graph_type"} graph type:
    %td
      %select{:name => "graph_type"}
        %option{:value => "default"}
          default
        %option{:value => "line"}
          line
        %option{:value => "stacked"}
          stacked
    %td
      %div#examples
        line or stacked

    %tr
    %tr
    %td
      %label{:for => "colors"} colors:
    %td
      %input{:type => "text", :name => "colors", :class => "text", :value => locals[:params][:colors]}
    %td
      %div#examples
        comma-seperated list of colors for the lines, e.g.:
        %code FF0000,00FF00,0000FF


    %td
      %input{:type => "submit", :value => "Update", :class => "button"}


%br
%br

