

- locals[:metrics].keys.sort.group_by { |n| n.split('-').first }.each do |group|
  %h3
    %br
    = group.first
  %table
    %tbody
    - group.last.each_with_index do |m, i|
      - if i % 3 == 0
        %tr
      %td
        %a{:href => link_to("/graph_edit", :host => locals[:host], :metric => m, :x => 500, :y => 200)}
          = m
          %br
          %img{:src => link_to("/graph", :host => locals[:host], :metric => m, :x => 300, :y => 100)}
