!!!
%html
  %head
    %title= "collectd-plot"
    %link{:rel => 'stylesheet', :href => '/stylesheets/screen.css', :type => 'text/css'}
    %script{:type => 'text/javascript', :src => '/javascripts/util.js'}

  %body
    %div#wrapper
      %div#header
        %div#nav
          %ul
            %li
              %a{:href => link_to('/')} collectd-plot

      %div#content
        = yield

      %div#footer
        collectd-plot

