
%table
  %tbody
    - locals[:instances].each do |i|
      %tr
        %td
          %a{:href => link_to("/graph_edit", {:host => locals[:host], :metric => locals[:metric], :instance => i, :x => 500, :y => 300})}
            = i
        %td
          %a{:href => link_to("/graph_edit", {:host => locals[:host], :metric => locals[:metric], :instance => i, :x => 500, :y => 300})}
            %img{:src => link_to("/graph", {:host => locals[:host], :metric => locals[:metric], :instance => i, :x => 300, :y => 200})}
